<!-- content -->
<div class="container">
  <h1 class="container__title">Bienvenue sur Gites-Ariège !</h1>
  <p>Merci d'avoir rejoint notre communauté.</p>
  <p>Cliquez sur le lien ci-dessous pour confirmer votre inscription :</p>

  <p>Si vous n'avez pas initié cette demande, veuillez ignorer cet email.</p>
  <p>Meilleures salutations,</p>
  <br />
  <p>Les gérants des gites</p>
</div>

<!-- style -->
<style>
  .container {
  }

  .container__title {
    font-weight: 700;
    font-size: 1.5em;
  }

  .container__link {
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #b28646;
    color: white;
  }
</style>
