/* --- Tarifs --- */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rates__grid-container {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.rates__grid-items {
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

.rates__input {
  text-align: end;
  padding: 0;
  border: none;
  background: none;
  width: 50px;
}

.rates__edit-icon {
  color: inherit;
  margin-left: 1rem;
}
