/* --- Tarifs --- */
.gites__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.gites__grid-items {
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

.gites__input {
  text-align: end;
  padding: 0;
  border: none;
  background: none;
  color: black;
  width: 50px;
}
