* {
  transition: all 0.3s linear;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: rgb(56, 56, 56);
}

#root {
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(247, 247, 247, 0.9);
  z-index: -1;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 25rem);
}

.message.error {
  color: rgb(153, 1, 1);
  border-bottom: 2px solid rgb(153, 1, 1);
}

/* -- section -- */
section {
  padding: 0 2rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* popup */
.popup {
  width: 350px!important;
  max-width: 90%;
}

.popup__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #b28646;
  padding: 0.6rem 2rem;
}

.popup__btn:hover {
  background-color: #946c31;
}

/* -- utility classes -- */
.bold {
  font-weight: bold;
}

.green {
  color: rgb(87, 151, 92);
}

.red {
  color: rgb(153, 1, 1);
}

.space {
  padding: 2rem 0;
}
