* {
  transition: all 0.2s linear;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: rgb(56, 56, 56);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(247, 247, 247, 0.9);
  z-index: -1;
}

h3 {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 25rem);
}

.message.error {
  color: rgb(153, 1, 1);
  border-bottom: 2px solid rgb(153, 1, 1);
}

/* -- section -- */
section {
  margin: 5rem auto;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* popup */
.popup {
  width: 350px!important;
  max-width: 90%;
}

.popup__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #b28646;
  padding: 0.6rem 2rem;
}

.popup__btn:hover {
  background-color: #946c31;
}

/* -- button -- */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem;
  margin: 1rem 1rem 0;
}

.button-container--alt {
  justify-content: space-between;
}

.button {
  flex: 2;
  text-transform: capitalize;
  cursor: pointer;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  font-weight: bold;
  color: white;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 5px;
}

.button--alt {
  color: gray;
  background: none;
}

.button:hover, .button:focus {
  background-color: rgb(65, 65, 65);
  border: 2px solid rgb(65, 65, 65);
  color: white;
}

.button:disabled {
  cursor: not-allowed;
  border-color: gray;
  color: gray;
  background-color: transparent;
}

.button__icon {
  color: inherit;
  margin-left: 1rem;
}

/* -- utility classes -- */
.bold {
  font-weight: bold;
}

.green {
  color: rgb(87, 151, 92);
}

.red {
  color: rgb(153, 1, 1);
}

.m-auto {
  margin: auto;
}

.space {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

/* -- media queries -- */
@media screen and (max-width: 450px){
  .button {
    font-size: 1.2rem;
  }
}