.banner {
  position: relative;
  background: url("../../../img/landscape.jpg") center/cover no-repeat;
  height: 40vh;
}

.banner__site-branding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner__site-title {
  font-size: clamp(3rem, 4.5vw + 1rem, 5rem);
  margin: 0;
}

.banner__site-title::after {
  content: "";
  color: var(--button-color);
  background-color: #fff;
  height: 1px;
  display: block;
  width: 20%;
  margin: 5px auto;
}

.banner__site-description {
  font-size: clamp(1.6rem, 2.2vw + 0.5rem, 2rem);
  margin: 0;
}

.banner__button {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}

.summary {
  line-height: 3rem;
  background-color: white;
  padding: 5rem 2.5rem;
  position: relative;
}

.summary__label {
  font-weight: bold;
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

.summary__paragraphe {
  padding: 2rem;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--button-color);
  padding: 1.5rem 2rem;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  background: var(--button-color-alt);
}

.gites {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.gite {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  max-height: 500px;
}

.gite__picture-container {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  cursor: pointer;
}

.gite__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gite__picture:hover {
  transform: scale(1.05);
}

.gite__text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  line-height: 3rem;
  padding: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .gite__text-container {
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem;
  }
}

.gite__name {
  font-weight: bold;
  font-size: 1.6em;
}

.gite__price {
  margin-bottom: 0.2rem;
}

.gite__price--amount {
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0.5rem;
}
