.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  box-sizing: border-box;
  z-index: 5;
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 6;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background: white;
}
