.swiper {
  width: 90%;
  margin: 5rem;
}

.swiper__slide {
  position: relative;
  width: 50%;
}

.swiper__icon {
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  padding: 1rem;
  z-index: 1;
  position: absolute;
}

.image {
  width: 100%;
}

.bubble {
  position: absolute;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  top: 2rem;
  left: 65px;
  width: 150px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  color: #000;
  box-shadow: 0 0 4px black;
}

.bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid white;
  border-top: 0 solid white;
  border-bottom: 12px solid transparent;
  left: -20px;
  top: 10px;
}
