.languageSwitcher {
  position: relative;
  display: inline-block;
  text-align: left;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1.5rem;
  border: none;
  border-radius: 9999px;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--bg-color-alt);
}

.flag {
  font-size: 1.25rem;
}

.dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 10rem;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 0.375rem;
  z-index: 50;
}

.languageButton {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
  width: 100%;
  padding: 0.8rem 1.2rem;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.languageButton:hover {
  background-color: var(--text-color);
}

.languageButton.active {
  font-weight: bold;
}

.languageFlag {
  font-size: 1.25rem;
}

.arrow {
  font-size: 1rem;
  transition: transform 0.3s;
}

.arrow.arrowUp {
  transform: rotate(-180deg);
}
