.bookings__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.bookings__title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}

.sort-button {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  background: none;
  border: 2px solid var(--border-color-alt);
  color: inherit;
  border-radius: 5px;
  padding: 0.5rem;
}

.sort-button:active {
  animation: bump 0.2s linear;
}

@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.bookings__list {
  width: 100%;
  padding: 2rem 0 4rem;
  border-top: 1px solid var(--border-color-light);
}
