.form__input-container {
  position: relative;
  margin: 1.5rem 0;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.form__input {
  outline: none;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.form__input--error {
  border-color: rgb(153, 1, 1);
}

.form__input--error::placeholder {
  color: rgb(153, 1, 1);
}

.form__error {
  color: rgb(153, 1, 1);
  font-size: 0.875rem;
  margin: 1rem 0;
}
