.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 1000;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.scrollToTop:hover {
  transform: translateY(-3px);
}
