* {
  transition: all 0.3s linear;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: rgb(56, 56, 56);
  background: url("./img/gite1_large.jpg") center/cover no-repeat;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(247, 247, 247, 0.9);
  z-index: -1;
}

.message {
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
  margin: 0 0 1.5rem;
}

.message.information {
  color: rgb(0, 76, 143);
  border-bottom: 2px solid rgb(0, 76, 143);
}

.message.success {
  color: rgb(7, 70, 19);
  border-bottom: 2px solid rgb(7, 70, 19);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 25rem);
}

.message.error {
  color: rgb(153, 1, 1);
  border-bottom: 2px solid rgb(153, 1, 1);
}

/* -- section -- */
section {
  padding: 0 2rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* -- classes utilitaires -- */
.bold {
  font-weight: bold;
}

.green {
  color: rgb(87, 151, 92);
}

.red {
  color: rgb(153, 1, 1);
}

.bold {
  font-weight: 700;
}

.space {
  padding: 2rem 0;
}
