/* MODAL PRINCIPAL */
.crop-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.6);
  overflow: hidden;
}

/* ZONE DU CROPPER */
.crop-container__cropper {
  width: 100%;
  height: calc(100% - 80px);
}

/* FORMULAIRE EN BAS */
.crop-container__form {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid #ccc;
}

/* BOUTON */
.crop-container__button {
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(70, 70, 140);
  padding: 0.6rem 2rem;
}

.crop-container__button:hover {
  background-color: rgb(50, 50, 100);
}
