.alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-weight: 500;
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  opacity: 0.7;
}

.alert--hide {
  opacity: 0;
}

.alert--gray {
  background-color: rgb(105, 105, 105);
}

.alert--green {
  background-color: rgb(134, 199, 149);
}

.alert--red {
  background-color: rgb(216, 59, 59);
}
